---
import { HiArrowRight } from "react-icons/hi";
import MiFoto from "../../../assets/img/MiFoto.jpg";
import AboutScroll from "./AboutScroll.jsx";
---

<section class="relative flex items-center justify-center px-4 pt-16">
  <!-- Glow background -->
  <div
    class="absolute inset-0 -z-10 mx-auto max-w-6xl blur-3xl"
    aria-hidden="true"
  >
    <div class="h-[450px] w-full rounded-full bg-gray-900"></div>
  </div>

  <AboutScroll client:load>
    <div
      class="mx-auto flex max-w-4xl flex-col-reverse items-stretch gap-6 md:flex-row"
    >
      <!-- Image -->
      <div
        class="about-reveal bg-base-900 flex w-full items-center justify-center overflow-hidden rounded-2xl shadow-lg md:w-1/3 drop-shadow-[4px_4px_0_#7836cf]"
      >
        <img
          src={MiFoto.src}
          alt="Foto 
          de Nicolas Morales"
          class="h-full w-full object-cover"
        />
      </div>

      <!-- Text -->
      <div
        class="about-reveal bg-gray-900 flex w-full flex-col justify-center rounded-2xl p-6 shadow-lg md:w-2/3 drop-shadow-[4px_4px_0_#7836cf]"
      >
        <h2 class="text-4xl font-bold text-white drop-shadow-[2px_2px_0_#7836cf]">
          About me
        </h2>

        <p class="mt-3 font-semibold">
  Hi there! My name is Nicolas, and I’m a UX/UI Designer /Front-End Developer with a strong focus on
  creating intuitive, accessible, and visually consistent digital experiences.
  I specialize in translating user needs and business goals into clear interface
  solutions, applying usability principles, accessibility standards, design
  systems, and interaction design. My background in Front-End development allows
  me to design with technical feasibility in mind, ensuring inclusive,
  high-quality, and scalable implementations across different platforms.
</p>

        <a
          href="/about"
          class="group mt-4 inline-flex items-center font-bold text-primary transition-all"
        >
          More About Me
          <HiArrowRight
            className="ml-1 transition-transform duration-200 group-hover:translate-x-1"
            size={18}
          />
        </a>
      </div>
    </div>
  </AboutScroll>
</section>
