@import "tailwindcss";

/* === PALETA PRINCIPAL === */
.primary {
  color: #d4a373;
}
.secondary {
  color: #7f5539;
}
.bg-primary {
  background-color: #d4a373;
}
.bg-secondary {
  background-color: #7f5539;
}
.text-primary {
  color: #d4a373;
}

/* === HOVERS === */
.hover-text-secondary:hover {
  color: #d4a373;
}
.hover-bg-secondary:hover {
  background-color: #d4a373;
}
.hover\:bg-secondary:hover {
  background-color: #7f5539;
}
.hover\:text-secondary:hover {
  color: #7f5539;
}

/* === SOMBRAS DE TEXTO === */
.text-shadow {
  text-shadow: 2px 2px 0 #0e0600;
}
.text-shadow-cyan {
  text-shadow: 2px 2px 0 #ffd6a5;
}


/* === BACKGROUNDS === */
.bg-gray-900 {
  background-color: oklch(0.36 0.01 269.99);
}
.bg-gray-950 {
  background-color: oklch(0.28 0.01 269.99);
}

/* === ANIMACIONES HOME === */
@keyframes gradientMove {
  0% { transform: translateX(0) translateY(0); }
  50% { transform: translateX(-250px) translateY(120px); }
  100% { transform: translateX(0) translateY(0); }
}

@keyframes gradientMove2 {
  0% { transform: translateX(0) translateY(0); }
  50% { transform: translateX(250px) translateY(-120px); }
  100% { transform: translateX(0) translateY(0); }
}

.animate-gradientMove {
  animation: gradientMove 8s ease-in-out infinite alternate;
}

.animate-gradientMove2 {
  animation: gradientMove2 8s ease-in-out infinite alternate;
}

/* override final */
.text-shadow {
  text-shadow: 2px 2px 0 #b08968;
}
